* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

/*todo  only this? */
a {
  /*color: inherit;*/
  color: var(--base-primary);
  text-decoration: none;

  &:hover {
    color: color-mix(in srgb, var(--base-primary) 70%, white);
  }
}

ul {
  list-style: none;
}
